$widthSite: 1200px;
$DM_Serif_Display_color: #292f36;
$jost: #4d5053;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
  }